
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: Arial, sans-serif;
    color: #333;
}

.main-content {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 50px; 
    width: 90%; 
    max-width: 1200px;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .main-content {
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 30px;
    }
}
